[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
selenium = "*"
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
parsel = "*"
ipython = "*"
jupyter = "*"
psycopg2 = "*"
sqlalchemy = "*"
django = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
